name: Build Site

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: node_modules CI Cache
        uses: actions/cache@v5
        with:
          path: ${{ github.workspace }}/node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/bun.lock') }}

      - name: Next.js CI Cache
        uses: actions/cache@v5
        with:
          path: ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/bun.lock') }}-${{ hashFiles('src/**', 'content/**') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/bun.lock') }}-

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Build Site
        run: bun run build

      - name: Upload Build Output to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ${{ github.workspace }}/out/
          if-no-files-found: error

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    strategy:
      matrix:
        include:
          - host_id: REMOTE_HOST_SJC
      fail-fast: false
    env:
      REMOTE_HOST: ${{ secrets[matrix.host_id] }}
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: ${{ github.workspace }}/out/
      - run: ls -R ${{ github.workspace }}/out/
      - uses: easingthemes/ssh-deploy@v4.0.5
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: '-avz --delete'
          REMOTE_HOST: ${{ env.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          SOURCE: out/*
          TARGET: /home/github/n.wtf/
          EXCLUDE: .git,.github,.gitlab-ci.yml,.nojekyll
